body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: red;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    background: #1e1e2f;
    padding: 15px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Dropdown */
.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #1e1e2f;
    min-width: 200px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.lang {
    margin-right: 20px;
}

/* CONTAINER */
.container {
    padding: 40px;
}

/* GRID (responsive) */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* IMAGE */
img {
    width: 100%;
    border-radius: 10px;
}

/* IMAGE TAILLE */
.hero-img {
    width: 300px;        /* taille */
    display: block;
    margin: 20px auto;   /* centre horizontal */
}

/* MOBILE */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}
